<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512"  href="favicons/icon-512x512.png">
<link rel="icon" type="image/png" sizes="384x384"  href="favicons/icon-384x384.png">
<link rel="icon" type="image/png" sizes="192x192"  href="favicons/icon-192x192.png">
<link rel="icon" type="image/png" sizes="152x152"  href="favicons/icon-152x152.png">
<link rel="icon" type="image/png" sizes="144x144"  href="favicons/icon-144x144.png">
<link rel="icon" type="image/png" sizes="128x128"  href="favicons/icon-128x128.png">
<link rel="icon" type="image/png" sizes="96x96"    href="favicons/icon-96x96.png">
<link rel="icon" type="image/png" sizes="72x72"    href="favicons/icon-72x72.png">
<link rel="manifest" href="favicons/manifest.json">
<meta name="theme-color" content="#ffffff">
